spring:
  application:
    name: Pajak DTHRTH
  datasource:
    url: jdbc:postgresql://localhost:5432/pajak_dthrth
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  threads:
    virtual:
      enabled: true
